ansible/servers/inventory.ini
ansible/servers/test.yaml
ansible/servers/roles/Archive/
ansible/servers/secrets/
ansible/servers/playbooks/Archive/
ansible/servers/adhoc.yaml


pyinfra/group_data/*
!pyinfra/group_data/servers_example.py
pyinfra/inventory.py

terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.lock.hcl
.terraform/
terraform/cloudflare/Archive/

.vagrant/